<?xml version="1.0"?>
<config>
    <modules>
        <AR_Aging>
            <version>0.1.0</version>
        </AR_Aging>
    </modules>
    <global>
        <models>
            <ar_aging>
                <class>AR_Aging_Model</class>
                <resourceModel>ar_aging_mysql4</resourceModel>
            </ar_aging>
            <ar_aging_mysql4>
                <class>AR_Aging_Model_Mysql4</class>
                <entities>
                    <aging><table>ar_aging</table></aging>
                </entities>
            </ar_aging_mysql4>
        </models>
        <resources>
            <ar_aging_setup>
                <setup>
                    <module>AR_Aging</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ar_aging_setup>
            <ar_aging_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ar_aging_write>
            <ar_aging_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ar_aging_read>
        </resources>
    </global>
    <crontab>
        <jobs>
            <ar_aging_updateAgingTable>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ar_aging/aging::updateAgingTable</model>
                </run>
            </ar_aging_updateAgingTable>
        </jobs>
    </crontab>
</config>