<?xml version="1.0"?>
<config>
    <modules>
        <NightingaleConant_HeldOrders>
            <version>0.1.0</version>
        </NightingaleConant_HeldOrders>
    </modules>
    <admin>
        <routers>
            <heldorders>
                <use>admin</use>
                <args>
                    <module>NightingaleConant_HeldOrders</module>
                    <frontName>heldorders</frontName>
                </args>
            </heldorders>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <report>
                <children>
                    <salesroot>
                        <children>
                            <heldorders translate="title" module="heldorders">
                                <title>Held Orders Report</title>
                                <action>heldorders/adminhtml_heldorders/sales</action>
                            </heldorders>
                        </children>
                    </salesroot>
                </children>
            </report>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <salesroot>
                                    <children>
                                        <heldorders translate="title" module="heldorders">
                                            <title>HeldOrders Report</title>
                                            <action>heldorders/adminhtml_heldorders</action>
                                        </heldorders>
                                    </children>
                                </salesroot>
                            </children>
                        </report>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <heldorders>
                    <file>heldorders.xml</file>
                </heldorders>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <heldorders>
                <class>NightingaleConant_HeldOrders_Model</class>
                <resourceModel>heldorders</resourceModel>
            </heldorders>
        </models>
        <resources>
            <heldorders_setup>
                <setup>
                    <module>NightingaleConant_HeldOrders</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </heldorders_setup>
            <heldorders_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </heldorders_write>
            <heldorders_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </heldorders_read>
        </resources>
        <blocks>
            <heldorders>
                <class>NightingaleConant_HeldOrders_Block</class>
            </heldorders>
        </blocks>
        <helpers>
            <heldorders>
                <class>NightingaleConant_HeldOrders_Helper</class>
            </heldorders>
        </helpers>
    </global>
</config>