<?xml version="1.0"?>
<config>
    <modules>
        <NightingaleConant_InsiderClub>
            <version>0.1.0</version>
        </NightingaleConant_InsiderClub>
    </modules>
    <frontend>
        <routers>
            <insiderclub>
                <use>standard</use>
                <args>
                    <module>NightingaleConant_InsiderClub</module>
                    <frontName>insiderclub</frontName>
                </args>
            </insiderclub>
        </routers>
        <layout>
            <updates>
                <insiderclub>
                    <file>insiderclub.xml</file>
                </insiderclub>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <insiderclub>
                <use>admin</use>
                <args>
                    <module>NightingaleConant_InsiderClub</module>
                    <frontName>insiderclub</frontName>
                </args>
            </insiderclub>
        </routers>
    </admin>
    <adminhtml>        
        <layout>
            <updates>
                <insiderclub>
                    <file>insiderclub.xml</file>
                </insiderclub>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <insiderclub>
                <class>NightingaleConant_InsiderClub_Model</class>                
            </insiderclub>
        </models>
        <helpers>
            <insiderclub>
                <class>NightingaleConant_InsiderClub_Helper</class>
            </insiderclub>
        </helpers>
    </global>
</config>