<?xml version="1.0"?>
<config>
    <modules>
        <CJ_Reports>
            <version>1.0.0</version>
        </CJ_Reports>
    </modules>
    <global>
        <blocks>
            <cj_reports>
                <class>CJ_Reports_Block</class>
            </cj_reports>
        </blocks>
        <helpers>
            <cj_reports>
                <!-- Helper definition needed by Magento -->
                <class>Mage_Core_Helper</class>
            </cj_reports>
        </helpers>
        <models>
            <customer>
                <rewrite>
                    <customer>CJ_Reports_Model_Customer</customer>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <order_invoice>CJ_Reports_Model_Sales_Invoice</order_invoice>
                    <order>CJ_Reports_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <cj_reports>
                <class>CJ_Reports_Model</class>
                <resourceModel>cj_reports_resource</resourceModel>
            </cj_reports>
            <cj_reports_resource>
                <class>CJ_Reports_Model_Resource</class>
                <entities>
                    <artransactionshistory>
                        <table>ar_report_history</table>
                    </artransactionshistory>
                </entities>
            </cj_reports_resource>
        </models>
        <resources>
            <cj_reports_setup>
                <setup>
                    <module>CJ_Reports</module>
                    <class>CJ_Reports_Model_Resource_Setup</class>
                </setup>
            </cj_reports_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cj_reports before="Mage_Adminhtml">CJ_Reports_Adminhtml</cj_reports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <ar_report_daily_export>
                <schedule>
                    <cron_expr>59 23 * * *</cron_expr>
                </schedule>
                <run>
                    <model>cj_reports/observer::dailyArReportExport</model>
                </run>
            </ar_report_daily_export>
        </jobs>
    </crontab>
</config>