<?xml version="1.0"?>
<config>
    <modules>
        <NightingaleConant_SalesTaxReport>
            <version>0.1.0</version>
        </NightingaleConant_SalesTaxReport>
    </modules>
    <admin>
        <routers>
            <salestaxreport>
                <use>admin</use>
                <args>
                    <module>NightingaleConant_SalesTaxReport</module>
                    <frontName>salestaxreport</frontName>
                </args>
            </salestaxreport>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <report>
                <children>
                    <salesroot>
                        <children>
                            <salestaxreport translate="title" module="salestaxreport">
                                <title>Sales Tax Report</title>
                                <action>salestaxreport/adminhtml_salestaxreport/sales</action>
                            </salestaxreport>
                        </children>
                    </salesroot>
                </children>
            </report>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <salesroot>
                                    <children>
                                        <salestaxreport translate="title" module="salestaxreport">
                                            <title>Sales Tax Report</title>
                                            <action>salestaxreport/adminhtml_salestaxreport</action>
                                        </salestaxreport>
                                    </children>
                                </salesroot>
                            </children>
                        </report>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <salestaxreport>
                    <file>salestaxreport.xml</file>
                </salestaxreport>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <salestaxreport>
                <class>NightingaleConant_SalesTaxReport_Model</class>
                <resourceModel>salestaxreport</resourceModel>
            </salestaxreport>
        </models>
        <resources>
            <salestaxreport_setup>
                <setup>
                    <module>NightingaleConant_SalesTaxReport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salestaxreport_setup>
            <salestaxreport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salestaxreport_write>
            <salestaxreport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salestaxreport_read>
        </resources>
        <blocks>
            <salestaxreport>
                <class>NightingaleConant_SalesTaxReport_Block</class>
            </salestaxreport>
        </blocks>
        <helpers>
            <salestaxreport>
                <class>NightingaleConant_SalesTaxReport_Helper</class>
            </salestaxreport>
        </helpers>
    </global>
</config>