<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <NightingaleConant_SpecialItem>
            <version>0.1.0</version>
        </NightingaleConant_SpecialItem>
    </modules>
    
    <admin>
        <routers>
            <specialitem>
                <use>admin</use>
                <args>
                    <module>NightingaleConant_SpecialItem</module>
                    <frontName>specialitem</frontName>
                </args>
            </specialitem>
        </routers>        
    </admin>
    <adminhtml>
        <menu>		
            <sales>                
                <children>
                    <specialitem module="specialitem">
                        <title>Associate Special Item to Order</title>
                        <sort_order>50</sort_order>
                        <action>specialitem/adminhtml_specialitem</action>
                    </specialitem>
                </children>
            </sales>		
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <specialitem module="specialitem">
                                    <title>Associate Special Item to Order</title>
                                    <sort_order>50</sort_order>
                                    <action>specialitem/adminhtml_specialitem</action>
                                </specialitem>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <specialitem>
                    <file>specialitem.xml</file>
                </specialitem>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <specialitem>
                <class>NightingaleConant_SpecialItem_Block</class>
            </specialitem>
        </blocks>
        <helpers>
            <specialitem>
                <class>NightingaleConant_SpecialItem_Helper</class>
            </specialitem>
        </helpers>
        <models>
            <specialitem>
                <class>NightingaleConant_SpecialItem_Model</class>
                <resourceModel>specialitem_mysql4</resourceModel>
            </specialitem>
            <specialitem_mysql4>
                <class>NightingaleConant_SpecialItem_Model_Mysql4</class>
                <entities>
                    <specialitem>
                        <table>custom_specialitem</table>
                    </specialitem>
                </entities>
            </specialitem_mysql4>
        </models>
        <events>
            <sales_order_save_after>
                <observers>
                    <specialitem>
                        <type>singleton</type>
                        <class>specialitem/observer</class>
                        <method>attachSpecialItem</method>
                    </specialitem>
                </observers>
            </sales_order_save_after>
        </events>
        <resources>
            <specialitem_setup>
                <setup>
                    <module>NightingaleConant_SpecialItem</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </specialitem_setup>
            <specialitem_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </specialitem_write>
            <specialitem_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </specialitem_read>
        </resources>
    </global>
</config>