<?xml version="1.0"?>
<config>
    <modules>
        <Exinent_Panelreport>
            <version>0.0.1</version>
        </Exinent_Panelreport>
    </modules>
    <global>
    	<blocks>
            <panelreport>
                <class>Exinent_Panelreport_Block</class>
            </panelreport>
        </blocks>
        <helpers>
            <panelreport>
                <class>Exinent_Panelreport_Helper</class>
            </panelreport>
        </helpers>
	<models>
	    <panelreport>
		<class>Exinent_Panelreport_Model</class>
		<resourceModel>panelreport_mysql4</resourceModel>
	    </panelreport>
	    <panelreport_mysql4>
		<class>Exinent_Panelreport_Model_Mysql4</class>
		<entities>
		    <amastyorder>
			<table>amasty_amorderattr_order_attribute</table>
		    </amastyorder>
		</entities>
	    </panelreport_mysql4>
	</models>
	<resources>
	    <panelreport_read>
		<connection>
		    <use>core_read</use>
		</connection>
	    </panelreport_read>
	</resources>
    </global>
    <admin>
	<routers>
	    <adminhtml>
		<args>
		    <modules>
			<panelreport before="Mage_Adminhtml">Exinent_Panelreport_Adminhtml</panelreport>
		    </modules>
		</args>
	    </adminhtml>
	</routers>
    </admin>
</config>