<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Amasty_Orderattr>
            <version>2.2.2</version>
        </Amasty_Orderattr>
    </modules>
    
    
    <admin>
        <routers>
            <amorderattr>
                <use>admin</use>
                <args>
                    <module>Amasty_Orderattr</module>
                    <frontName>orderattr</frontName>
                </args>
            </amorderattr>
        </routers>
    </admin>
    
    
    <frontend>
        <translate>
            <modules>
                <Amasty_Orderattr>
                    <files>
                        <default>Amasty_Orderattr.csv</default>
                    </files>
                </Amasty_Orderattr>
            </modules>
        </translate>
        
        <layout>
            <updates>
                <amorderattr>
                    <file>amorderattr.xml</file>
                </amorderattr>
            </updates>
        </layout>
    </frontend>
    
    
    
    
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <orderattr translate="title">
                        <title>Manage Order Attributes</title>
                        <action>orderattr/adminhtml_manage</action>
                        <sort_order>2000</sort_order>
                    </orderattr>
                </children>
            </sales>
        </menu>
        
        <translate>
            <modules>
                <Amasty_Orderattr>
                    <files>
                        <default>Amasty_Orderattr.csv</default>
                    </files>
                </Amasty_Orderattr>
            </modules>
        </translate>
        
        <layout>
            <updates>
                <amorderattr>
                    <file>amorderattr.xml</file>
                </amorderattr>
            </updates>
        </layout>
        
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <orderattr translate="title" module="amorderattr">
                                    <title>Manage Order Attributes</title>
                                </orderattr>
                            </children>
                        </sales>                     
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <amorderattr translate="title" module="amorderattr">
                                            <title>Order Attributes</title>
                                        </amorderattr>
                                    </children>
                                </config>
                            </children>
                        </system> 
                     </children>
                </admin> 
            </resources>
        </acl>
    </adminhtml>
    
    
    
    <global>
    
        <models>
            <amorderattr>
                <class>Amasty_Orderattr_Model</class>
                <resourceModel>amorderattr_mysql4</resourceModel>
            </amorderattr>
            <amorderattr_mysql4>
                <class>Amasty_Orderattr_Model_Mysql4</class>
                <entities>
                    <order_attribute>
                        <table>amasty_amorderattr_order_attribute</table>
                    </order_attribute>
                </entities>
            </amorderattr_mysql4>
            
            <sales>
                <rewrite>
                    <order>Amasty_Orderattr_Model_Sales_Order</order>
                    <order_api>Amasty_Orderattr_Model_Sales_Order_Api</order_api>
                </rewrite>
            </sales>

            <eav_mysql4>
                <rewrite>
                    <entity_attribute>Amasty_Orderattr_Model_Eav_Mysql4_Entity_Attribute</entity_attribute>
                </rewrite>
            </eav_mysql4>
            
            <eav_resource>
                <rewrite>
                    <entity_attribute>Amasty_Orderattr_Model_Eav_Mysql4_Entity_Attribute</entity_attribute>
                </rewrite>
            </eav_resource>
        </models>
        
		<resources>
             <amorderattr_setup>
                <setup>
                    <module>Amasty_Orderattr</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amorderattr_setup>
		    <amorderattr_write>
		        <connection><use>core_write</use></connection>
		    </amorderattr_write>
		    <amorderattr_read>
		        <connection><use>core_read</use></connection>
		    </amorderattr_read>
		</resources>
		  
        
        <blocks>
            <amorderattr>
                <class>Amasty_Orderattr_Block</class>
            </amorderattr>
            

            <sales>
                <rewrite>
                    <order_email_items>Amasty_Orderattr_Block_Sales_Order_Email_Items</order_email_items>
                </rewrite>
            </sales>
            
            <adminhtml>
                <rewrite>
                    <sales_order_view_tab_info>Amasty_Orderattr_Block_Adminhtml_Order_Attribute_View</sales_order_view_tab_info>
                    <sales_order_grid>Amasty_Orderattr_Block_Adminhtml_Order_Grid</sales_order_grid>
                    <sales_order_create_form_account>Amasty_Orderattr_Block_Adminhtml_Order_Create_Form_Account</sales_order_create_form_account>
                </rewrite>
            </adminhtml>
            
            <checkout>
                <rewrite>
                    <onepage_progress>Amasty_Orderattr_Block_Checkout_Onepage_Progress</onepage_progress>
                </rewrite>
            </checkout>
            
        </blocks>
        
        <helpers>
            <amorderattr>
                <class>Amasty_Orderattr_Helper</class>
            </amorderattr>
            
            <core>
                <rewrite>
                    <data>Amasty_Orderattr_Helper_Core_Data</data>
                </rewrite>
            </core>
        </helpers>
        
        <events>
            <sales_quote_save_after>
                <observers>
                    <amorderattr>
                        <type>singleton</type>
                        <class>amorderattr/observer</class>
                        <method>onSalesQuoteSaveAfter</method>
                    </amorderattr>
                </observers>
            </sales_quote_save_after>
            
            <sales_order_save_after>
                <observers>
                    <amorderattr>
                        <type>singleton</type>
                        <class>amorderattr/observer</class>
                        <method>onSalesOrderSaveAfter</method>
                    </amorderattr>
                </observers>
            </sales_order_save_after>
            
            <checkout_type_onepage_save_order_after>
                <observers>
                    <amorderattr>
                        <type>singleton</type>
                        <class>amorderattr/observer</class>
                        <method>onCheckoutTypeOnepageSaveOrderAfter</method>
                    </amorderattr>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        
    </global>
    
    <default>
        <sales_email>
            <order>
                <include>1</include>
            </order>
        </sales_email>
        <amorderattr>
            <checkout>
                <progress>1</progress>
            </checkout>
            <pdf>
                <shipment>1</shipment>
                <invoice>1</invoice>
            </pdf>
        </amorderattr>
    </default>
    
</config>