<?xml version="1.0"?>
<config>
    <modules>
        <NightingaleConant_OrderPlacedBy>
            <version>0.1.0</version>
        </NightingaleConant_OrderPlacedBy>
    </modules>
    <admin>
        <routers>
            <orderplacedby>
                <use>admin</use>
                <args>
                    <module>NightingaleConant_OrderPlacedBy</module>
                    <frontName>orderplacedby</frontName>
                </args>
            </orderplacedby>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <report>
                <children>
                    <salesroot>
                        <children>
                            <orderplacedby translate="title" module="orderplacedby">
                                <title>Order Placed By Report</title>
                                <action>orderplacedby/adminhtml_orderplacedby/sales</action>
                            </orderplacedby>
                        </children>
                    </salesroot>
                </children>
            </report>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <salesroot>
                                    <children>
                                        <orderplacedby translate="title" module="orderplacedby">
                                            <title>OrderPlacedBy Report</title>
                                            <action>orderplacedby/adminhtml_orderplacedby</action>
                                        </orderplacedby>
                                    </children>
                                </salesroot>
                            </children>
                        </report>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <orderplacedby>
                    <file>orderplacedby.xml</file>
                </orderplacedby>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <orderplacedby>
                <class>NightingaleConant_OrderPlacedBy_Model</class>
                <resourceModel>orderplacedby</resourceModel>
            </orderplacedby>
        </models>
        <resources>
            <orderplacedby_setup>
                <setup>
                    <module>NightingaleConant_OrderPlacedBy</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderplacedby_setup>
            <orderplacedby_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderplacedby_write>
            <orderplacedby_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderplacedby_read>
        </resources>
        <blocks>
            <orderplacedby>
                <class>NightingaleConant_OrderPlacedBy_Block</class>
            </orderplacedby>
        </blocks>
        <helpers>
            <orderplacedby>
                <class>NightingaleConant_OrderPlacedBy_Helper</class>
            </orderplacedby>
        </helpers>
    </global>
</config>